*{
margin:0;
padding:0;
box-sizing:border-box;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
position:fixed;
width:100%;
top:0;
z-index:1000;

background:rgba(255,255,255,.8);
backdrop-filter:blur(15px);
}

.logo img{
height:70px;

}

nav ul{
display:flex;
gap:35px;
list-style:none;
}

nav a{
text-decoration:none;
color:#333;
font-weight:500;
}

.btn-tienda{
padding:12px 28px;
background:#ff7eb6;
color:white;
border-radius:50px;
text-decoration:none;
transition:.4s;
}

.btn-tienda:hover{
transform:translateY(-3px);
}

/*==================================
CONTACTO
MAQUETACIÓN
==================================*/

.contacto{

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:70px;

    padding:120px 8%;

}

.contacto-info{

    flex:1;

}

.formulario-contacto{

    flex:1;

    padding:45px;

}

.datos-contacto{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.dato{

    display:flex;

    align-items:flex-start;

    gap:18px;

    padding:25px;

}

.icono{

    width:55px;
    height:55px;

    display:flex;

    justify-content:center;
    align-items:center;

    flex-shrink:0;

}

.formulario-contacto form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.formulario-contacto input,
.formulario-contacto textarea{

    width:100%;

    padding:18px 22px;

}

.formulario-contacto textarea{

    height:170px;

    resize:none;

}

.formulario-contacto button{

    padding:18px;

}
@media(max-width:1000px){

.contacto{

    flex-direction:column;

}

.datos-contacto{

    grid-template-columns:1fr;

}

.contacto-info h2{

    font-size:42px;

}



}
/*=========================
FOOTER
MAQUETACIÓN
==========================*/

.footer{

    padding:80px 8% 25px;

}

.footer-contenedor{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:50px;

}

.footer-logo p{

    margin-top:20px;

}

.footer-links ul{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.footer-redes .redes{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.footer-copy{

    margin-top:60px;

    padding-top:25px;

    text-align:center;

}
/*==================================
Formulario a llenar
==================================*/
.formulario-externo{

    margin-top:50px;

    padding:40px;

    display:flex;

    flex-direction:column;

    gap:20px;

}
